/*------------------------------ <BACKGROUND-IMAGE (for js)> ------------------------------*/
.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/*------------------------------ </BACKGROUND-IMAGE (for js)> ------------------------------*/